@import './global.css';


.Offer {

    width: 100%;
    height: 92%;
    display: grid;
    place-items: center;
  

}

.form-containerOffert {
    margin: 10px 25px;
    display: grid;
    width: 450px;
    height: 100%;
}

.formOffer {
    display: flex;
    flex-direction: column;
}


.formOffer .login-button {
    width: 100%;
}


.user-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.user-details .inputbox {
    display: flex;
    flex-direction: column;

}


.labelOffer {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 10px;

}

.labeltitulo{
    margin-top: 27px;
}


.input {
    background-color: var(--text-input-field);
    font-size: var(--md);
    border: none;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    margin-bottom: 7px;
}



.input-descripcion {
    resize: none;
    height: 70px;
    margin-bottom: 5px;
}


.primary-button {

    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-size: var(--md);
    font-weight: bold;
    width: 100%;
    height: 40px;
    cursor: pointer;
}


@media (max-width:640px) {

    .form-container {
        width: 300px;
    }

    .user-details {
        display: block;
    }

}